<h1>Equipment</h1>

<br />

<%= link_to 'New Equipment', new_equipment_path, class: "btn btn-success" %>

<br />
<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th>Group</th>
      <th>Code</th>
      <th>Equipment</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= link_to Group.find(equipment.group_id).name, group_path(equipment.group_id) %></td>
        <td><%= equipment.full_code %></td>
        <td><%= equipment.name %></td>
        <td><%= equipment.brand %></td>
        <td><%= equipment.model %></td>
        <td><%= equipment.description %></td>
        <td><%= equipment.price %></td>
        <td><%= link_to 'Show', equipment, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
