<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @equipment.full_code %>
</p>

<p>
  <strong>Group:</strong>
  <%= link_to Group.find(@equipment.group_id).name, group_path(@equipment.group_id) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @equipment.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @equipment.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @equipment.price %>
</p>

<br />

<%= link_to 'Edit', edit_equipment_path(@equipment), class: "btn btn-warning" %>

<br />
<br />

<%= link_to 'Back', equipment_index_path, class: "btn btn-info" %>
