<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @equipment.full_code %>
</p>

<p>
  <strong>Group:</strong>
  <%= link_to @equipment_group.name, group_path(@equipment_group) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @equipment.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @equipment.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment.show_description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @equipment.price %>
</p>

<br />

<%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit'), edit_equipment_path(@equipment), class: "btn btn-warning" %>

<br />
<br />

<%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back'), equipment_index_path, class: "btn btn-info" %>
