<p>
  <strong><%= translate "equipment.code" %>:</strong>
  <%= @equipment.full_code %>
</p>

<p>
  <strong><%= translate "equipment.group" %></strong>
  <%= link_to @equipment_group.name, group_path(@equipment_group) %>
</p>

<p>
  <strong><%= translate "equipment.equipment" %>:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong><%= translate "equipment.brand" %>:</strong>
  <%= @equipment.brand %>
</p>

<p>
  <strong><%= translate "equipment.model" %>:</strong>
  <%= @equipment.model %>
</p>

<p>
  <strong><%= translate "equipment.description" %>:</strong>
  <%= @equipment.show_description %>
</p>

<p>
  <strong><%= translate "equipment.price" %>:</strong>
  <%= @equipment.price %>
</p>

<br />

<% if can? :edit, Equipment %>
  <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span>&nbsp;&nbsp;#{translate 'actions.edit'}"), edit_equipment_path(@equipment), class: "btn btn-warning" %>
  <br />
  <br />
<% end %>

<%= link_to raw("<span class='glyphicon glyphicon-arrow-left'></span>&nbsp;&nbsp;#{translate 'actions.back'}"), equipment_index_path, class: "btn btn-info" %>
