<p id="notice"><%= notice %></p>

<p>
  <strong>Group cod:</strong>
  <%= @group.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<br />

<%= link_to 'Edit', edit_group_path(@group), class: "btn btn-warning" %>

<br />
<br />

<%= link_to 'Back', groups_path, class: "btn btn-info" %>
