<h1><%= translate 'users.title' %></h1>

<br />

<% if can? :create, User %>
  <%= link_to raw("<span class='glyphicon glyphicon-plus'></span>&nbsp;&nbsp;#{translate 'users.new'}"), new_user_path, class: "btn btn-success" %>

  <br />
  <br />
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center"><%= translate 'users.name' %></th>
      <th class="text-center"><%= translate 'users.email' %></th>
      <th class="text-center"><%= translate 'users.admin' %></th>
      <th class="text-center" colspan="3"><%= translate 'users.options' %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-center"><%= user.name %></td>
        <td class="text-center"><%= user.email %></td>
        <td class="text-center">
          <% if user.admin == true %>
            <%= translate 'yes' %>
          <% else %>
            <%= translate 'no' %>
          <% end %>
        </td>
        <% if can? :read, User %>
          <td class="text-center">
            <%= link_to raw("<span class='glyphicon glyphicon-eye-open'></span>&nbsp;&nbsp;#{translate 'actions.show'}"), user, class: "btn btn-info" %>
          </td>
        <% end %>
        <% if can? :edit, User %>
          <td class="text-center">
            <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span>&nbsp;&nbsp;#{translate 'actions.edit'}"), edit_user_path(user), class: "btn btn-warning" %>
          </td>
        <% end %>
        <% if can? :delete, User %>
          <td class="text-center">
            <%= link_to raw("<span class='glyphicon glyphicon-trash'></span>&nbsp;&nbsp;#{translate 'actions.destroy'}"), user, method: :delete, data: { confirm: "#{translate 'confirm'}" }, class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
