<h2>Log in</h2>

<br />

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= f.label :email, for: "loginInputEmail" %>
  <%= f.email_field :email, class: "form-control", id: "loginInputEmail", autocomplete: "email", placeholder: "Enter email" %>
  <small id="weNotShare" class="form-text text-muted">We'll never share your email with anyone else.</small>

  <br />

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: "******" %>
  <small id="notSharePassword" class="form-text text-muted">Never share your password.</small>

  <br />

  <% if devise_mapping.rememberable? %>
    <div class="custom-control custom-switch">
      <%= f.check_box :remember_me, class: "custom-control-input form-control-lg", id: "checkRPass" %>
      <%= f.label :remember_me, class: "custom-control-label", for: "checkRPass" %>
    </div>
  <% end %>

  <br />

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>